body {
  text-align: center;
}
a {
  display: flex;
  text-decoration: none;
  color: #000000;
}
button {
  width: 100px;
  height: 40px;
  background-color: #f3ba00;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: 1px solid #cbcb85;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
