<li class='item'>
  <div class='country-card'>
    <img
      class='country-flag'
      src='{{flags.svg}}'
      alt='{{flags.alt}}'
      height='20'
      weight='20'
    />
    <p2>{{name.official}}</p2>
  </div>
</li>